/* globals.css */

@tailwind base;

h1 {
  @apply text-2xl;
  @apply font-normal;
}

h2 {
  @apply text-xl;
  @apply font-normal;
}

h3 {
  @apply text-lg;
  @apply font-normal;
}

@tailwind components;

@tailwind utilities;

body {
  margin: 0;
}

.rich-text h1 {
  text-align: center;
}

.rich-text h2 {
  text-align: center;
}

.rich-text h3 {
  text-align: center;
}

.rich-text h4 {
  text-align: center;
}
* {
  box-sizing: border-box;
}
