---

export const fetchData = async () => {
  try{
    const response = await fetch(`${import.meta.env.CMS_BASE_URL}/api/pages/`)
    const data = await response.json()
    return data.docs
  }catch{
    console.log('error')
  }
}

export const getStaticPaths = async () => {
  const data = await fetchData();
  const paths = data.map(page => ({
    params: { slug: page.slug },
  }));

  return paths
};

const { slug } = Astro.params;
---
<div>Good dog, {slug}!</div>

