---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Blocks from '../blocks/Blocks.astro';
import { fetchBlogs } from '../lib/fetchBlogs';


const data = await fetchBlogs();

---

<Layout title="Dev Blog">
	<main class="gradient-bg h-dvh w-full pt-24 px-2 lg:px-12">
		<h1 class="text-center text-3xl lg:text-4xl font-gray mb-4 lg:mb-8">Blogs</h1>
		<ul class="px-10">
			{data.docs.map(blog => {
				return(
					<li class="py-2 hover:cursor-pointer hover:text-[#00bda5]"><a href={`blogs/${blog.slug}`}>{blog.name}</a></li>
				)
			})}
		</ul>

	</main>
</Layout>

<style>


.gradient-bg {
  background: linear-gradient(to bottom, #1f2937, #040434);
}
li{
	list-style: circle;
}
	main {
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	
</style>
