---
import Blog from "../pages/blog.astro";
import formatDate from "../lib/formatDate";

const { data } = Astro.props;

const imageBlock = data.layout.find(block => block.blockType === 'image');
const richText = data.layout.find(block => block.blockType === 'RichText');
const image = imageBlock ? imageBlock.image.url : '';
let excerpt = richText.richText_html?.split(/\s+/).slice(1, 15).join(' ')
console.log(data.createdAt)

---

<li class="link-card">

	<a href={"http"}>
		<div>
			<img class="card-img" src={`http://localhost:3000${image}`} alt="">			
		</div>
	<div class="wrapper">
		<h3 class="card-title">
			{data.name}
		</h3>
		<!-- this is current only working if the first paragraph is longer that 15 words. Might need to rework this later? -->
		<p class="excerpt">{excerpt}...</p>
		<p class="created-at">{formatDate(data.createdAt)}</p>
	</div>		
	</a>


</li>
<style>
	.created-at::before{
		content: '';
		width: 5px;
		height: 5px;
		background-color: #FF6071;
		position: absolute;
		left: 0px;
		top: 50%;
		margin-top: -2px;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-transition: all 300ms ease;
		transition: all 300ms ease;
	}
	.created-at{
		color: #DADEED;
		font-size: 12px;
		position: relative;
		padding-left: 1rem;

	}
	.excerpt{
		color: #DADEED;
		font-size: 14px;
		line-height: 150%;
	}
	h3{
		margin: 1rem;
	}
	.wrapper{
		padding: 0 1rem;

	}
	.wrapper *{
		text-decoration:none;
	}
	.card-title{
		padding: 0 2rem
	}
	.card-img{
		border-radius: 7px 7px 0 0 ;
		width: 100%;
	}
	.link-card {
		margin-top: 2rem;
		width: 100%;
		list-style: none;
		display: flex;
		flex-direction: column;
		background-color: #23262d;
		background-image: none;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
	 .link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		border-radius: 8px;
		color: white;
		background-color: #23262d;
		opacity: 0.8;
	}
	/*
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	} */
</style>
