---
const { heroHeading, heroSubHeading, image } = Astro.props;
console.log(heroHeading)
---

<section class="bg-transparent col-span-1 text-center mt-8">
  <h1 class="text-3xl font-gray">{heroHeading}</h1>
  <p class="font-light font-gray">{heroSubHeading}</p>
</section>
